header {
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

main {
    font-family: Arial, sans-serif;
    margin-top: 115px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

.btn {
    color: white;
    border-radius: 20px;
}

:root {
    --blue: #0072ce;
}

.blue {
    color: var(--blue);
}

.p-grey {
    color: #737373;
    font-weight: 600;
}
/* HEADER */

.header-top {
    background-color: black;
    height: 35px;
    padding: 8px;
}

.header-top > img {
    height: 15px;
    vertical-align: baseline;
}

.header-bottom {
    height: 80px;
    border-bottom: 1px solid lightgrey;
    font-weight: 500;
    background-color: white;
}

.header-bottom > nav {
    height: 100%;
    line-height: 80px;
    padding: 0 10px ;
}

.logo {
    padding: 0 10px;
}

.header-bottom ul {
    justify-content: flex-start;
    flex-grow: 1;
    margin-bottom: 0;
    position: relative;
}

.header-bottom li:last-child {
    position: absolute;
    right: 0;
}

.header-bottom li {
    padding: 0 15px;
}

.header-bottom li::after {
    font: var(--fa-font-solid);
    content: "\f078";
    color: #999999;
    font-size: 12px;
    vertical-align: middle;
    padding-left: 3px;
}

.search_icon {
    display: inline-block;
}

.search_icon > img {
    height: 25px;
    padding: 0 10px;
    cursor: pointer;
}

.ms_burger {
    font-size: 25px;
    padding: 0 10px;
}

.header-bottom .btn {
    background-color: #363636;
}

/* MAIN */ 
main img {
    width: 100%;
    display: inline-block;
}

.ms_container_banner {
    width: 100%;
    color: white;
    padding: 20px;
}

.backg {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.one {
    background-image: url(../img/jumbo-bg.png);
}

.ms_container_banner > img {
    width: 50%;
}

.one img {
    padding-top: 300px;
}

h2 {
    font-size: 40px;
}

.ms_container_banner > .btn {
    background-color: #cd3d0f;
}

.ms_container_banner > * {
    margin-bottom: 30px;
}

.thumbs {
    cursor: pointer;
}

.col:first-child .thumbs {
    border: 3px solid #0072ce;
    border-radius: 15px;
    padding: 1px;
}

.thumbs > img {
    border-radius: 15px;
}

.info-console > .btn {
    background-color: #2d64e6;
    margin-bottom: 20px;
}

.info-console > .p-grey {
    min-height: 50px;
}

.selected {
    border-bottom: 2px solid var(--blue);
    height: 100%;
    font-weight: 600;
}

.two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* new release */
.back-black {
    background-color: #1f1f1f;
    color: white;
}

.release {
    margin-bottom: 15px;
}

.release > img {
    border-radius: 15px;
}

/* ps plus */

.plus {
    background-color: #bebcbb;
}

.plus .btn {
    color: var(--blue);
    background-color: #d9dadc;
    margin-bottom: 20px;
}

/* ps now */

.now {
    background-color: #161c3b;
    color: white;
}

.now .btn {
    color: black;
    background-color: white;
    margin-bottom: 20px;
}

.ms_small_banner img {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* social */
.social-box {
    display: inline-block;
    width: 20%;
    margin: 15px 7px;
}

/* FOOTER */

footer {
    background-color: #00439c;
    padding: 25px;
    color: white;
}

.foot-logo {
    margin: 30px 0;
}

.foot-logo > img {
    height: 80px;
}

span > img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

footer ul {
    padding-left: 20px;
}

footer li {
    line-height: 40px;
}

#old {
    width: 30%;
}
/* DESKTOP VIEW */

@media screen and (min-width:992px) {
    .ms_container_banner {
        width: 50%;
    }
}

@media screen and (min-width:1200px) {
    .accessories {
        padding: 0 50px;
    }
}