header {
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

main {
    font-family: Arial, sans-serif;
    margin-top: 115px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    color: white;
    border-radius: 20px;
}


/* HEADER */

.header-top {
    background-color: black;
    height: 35px;
    padding: 8px;
}

.header-top > img {
    height: 15px;
    vertical-align: baseline;
}

.header-bottom {
    height: 80px;
    border-bottom: 1px solid lightgrey;
    font-weight: 500;
    background-color: white;
}

.header-bottom > nav {
    height: 100%;
    line-height: 80px;
    padding: 0 10px ;
}

.logo {
    padding: 0 10px;
}

.header-bottom ul {
    justify-content: baseline;
    flex-grow: 1;
    margin-bottom: 0;
    position: relative;
}

.header-bottom li:last-child {
    position: absolute;
    right: 0;
}

.header-bottom li {
    padding: 0 15px;
}

.header-bottom li::after {
    font: var(--fa-font-solid);
    content: "\f078";
    color: #999999;
    font-size: 12px;
    vertical-align: middle;
    padding-left: 3px;
}

.search_icon {
    display: inline-block;
}

.search_icon > img {
    height: 25px;
    padding: 0 10px;
    cursor: pointer;
}

.ms_burger {
    font-size: 25px;
    padding: 0 10px;
}

.header-bottom .btn {
    background-color: #363636;
}

/* MAIN */ 
main img {
    width: 100%;
    display: inline-block;
}

.ms_container_banner {
    width: 100%;
    color: white;
    padding-top: 300px;
    padding-left: 20px;
    padding-right: 20px;
}

.backg {
    position: relative;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ms_container_banner > img {
    width: 50%;
}

.ms_container_banner > h2 {
    font-size: 35px;
}

.ms_container_banner > .btn {
    background-color: #cd3d0f;
}

.ms_container_banner > * {
    margin-bottom: 30px;
}

/* DESKTOP VIEW */

@media screen and (min-width:992px) {
    .ms_container_banner {
        width: 50%;
    }
}
